<div>
  <h2>Modify Recipe</h2>
  <div>
    <label> Name:
      <input [(ngModel)]="recipe.name" placeholder="Name"/>
    </label><br>
    <label>Total Calories:
      <input [(ngModel)]="recipe.totalCalories" placeholder="Total Calories"/>
    </label><br>
    <label>Image URL:
      <input [(ngModel)]="recipe.imageUrl" placeholder="Image URL"/>
    </label><br>
  </div>
  <button (click)="updateRecipe()">Update</button>
</div>


<!--
  preparationTime
  name
  totalCalories
  createdDate
  imageUrl
  dietTypes
  ingredients
  instructions
  creators
-->
