
<div class="container py-5">
  <div class="row text-center text-white mb-5">
    <div class="col-lg-7 mx-auto">
      <h1 class="display-4">{{ 'Recipes' }}</h1>
      <p>A community full of recipes to choose from</p>
    </div>
  </div>

  <div *ngIf="recipes" class="grid-container col-md-12">
    <div *ngFor="let recipe of recipes; let i=index;" class="card">
      <a [routerLink]="['/recipe-details/', recipe.id]" >
          <img src="{{recipe.imageUrl}}" alt="Avatar" style="width:100%">
          <div class="container">
            <h4><b>{{ recipe.name | uppercase }}</b></h4>
            <p>Suitable for the diet types: </p>
            <ul *ngIf="recipe.dietTypes" class="list-inline">
              <li *ngFor="let dietType of recipe.dietTypes" class="list-inline-item">
                {{'#' + dietType}}
              </li>
            </ul>
          </div>
      </a>
    </div>
  </div>
</div>
