<div *ngIf="recipe">
  <h2>{{recipe.name | uppercase}}</h2>
  <div>
    <p>Preparation Time: {{recipe.preparationTime + ' minutes'}}</p>
    <p>Date created: {{recipe.createdDate | date }}</p>
    <p>Total Calories: {{recipe.totalCalories | number }}</p>
  </div>
  <div *ngIf="recipe.ingredients">
    <h3>Ingredients</h3>
    <div class="cool-list">
      <ol>
        <li *ngFor="let ingredient of recipe.ingredients; let i=index;">
          <p><em>{{ingredient.name}}</em> {{ingredient.quantity | number }} {{ingredient.measurementType}} ... {{ingredient.calories | number}} calories</p>
        </li>
        </ol>
    </div>
  </div>
</div>
