.cool-list { width:320px; }
.cool-list ol { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color: #000000;  }
.cool-list ol li { }
.cool-list ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:16px; color: #1c0029; border-left: 1px solid #000000; }
.cool-list ol li p em { display:block; }
