<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Create Fresh Recipe</h5>
    <p class="card-text">Create new recipe</p>

    <input type="text" placeholder="Name" [(ngModel)]="recipeData.name"/>
    <input type="text" placeholder="Image Url" [(ngModel)]="recipeData.imageUrl"/>
    <input type="text" placeholder="Preparation Time with in minutes" [(ngModel)]="recipeData.preparationTime"/>

    <table *ngIf="recipeData.ingredients" class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Ingredient Type</th>
          <th>Quantity</th>
          <th>Measurement Type</th>
          <th>Calories</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of recipeData.ingredients">
          <td>{{ingredient.name}}</td>
          <td>
            <select [(ngModel)]="ingredient.ingredientType">
              <option *ngFor="let ingredientType of ingredientTypes" value="{{ingredientType}}">
                {{ingredientType}}
              </option>
            </select>
          </td>
          <td><input type="number" [(ngModel)]="ingredient.quantity" /></td>
          <td>
            <select [(ngModel)]="ingredient.measurementType">
              <option *ngFor="let ingredientType of measurementTypes" value="{{ingredientType}}">
                {{ingredientType}}
              </option>
            </select>
          </td>
          <td><input type="number" [(ngModel)]="ingredient.calories" /></td>
          <td><button (click)="removeIngredientFromRecipe(ingredient.id)" class="btn btn-outline-info">x</button></td>
        </tr>
      </tbody>
    </table>

    <select >
      <option (change)="onSelectChanged($event)" *ngFor="let ingredient of allIngredients" value="{{ingredient}}">
        {{ingredient.name}}
      </option>
    </select>
    <button class="btn btn-outline-info" (click)="addIngredientToRecipe()"></button>
    <a (click)="createRecipe()" class="btn btn-primary btn-outline-info">Submit</a>
  </div>
  <div class="card-footer text-muted">
    If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.
    ― J.R.R. Tolkien
  </div>
</div>
